.body {
  background-color: lavender;
}

.btn {
  border-radius: 6px;
  color: white;
  padding: 6px;
  background-color: gray;
}

.btn-active {
  background-color: gray;
}

.btn:hover {
  background-color: lavenderblush;
  color: darkgrey;
}

.container {
  justify-content: center;
  align-content: center;
  border: dotted lavenderblush;
  margin: 10vh 10vw;
  padding: 10vh 10vw;
}

.password {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: gray;
  padding: 5vh 2vh;
}
